# Copy this file to .env and fill in your own values. Do not commit .env.

# for psycopg2
# Replace USER_DB and PASSWORD with the username and password from your coaches (Dbeaver setup).
DATABASE = "postgres"
USER_DB = "aipm_onl_eng_260526_paprikapipelines"
PASSWORD = "mialovesicecream"
HOST = "ds-sql-playground.c8g8r1deus2v.eu-central-1.rds.amazonaws.com"
PORT = "5432"

# for sqlalchemy
# Replace <your-username>, <your-password>, and <database-host> with the values from your coaches (Dbeaver setup).
DB_STRING = "postgresql://aipm_onl_eng_260526_paprikapipelines:mialovesicecream@ds-sql-playground.c8g8r1deus2v.eu-central-1.rds.amazonaws.com:5432/postgres"